<app-header (EQ_data_evt)="handle_EQ_data($event)"></app-header>

<div class="container-fluid mt-3">
  <div>
    <button
      [ngClass]="system_botton_class()"
      class="btn"
      style="width: 130px; font-size: 20px; font-weight: 700"
      (click)="system_action()"
    >
      {{ system_state_btn_txt }}
    </button>
  </div>

  <div class="card shadow mb-4 mt-2">
    <!-- Card Header - Accordion -->
    <a
      class="d-block card-header py-3"
      data-toggle="collapse"
      role="button"
      aria-expanded="true"
      aria-controls="collapseCardExample"
    >
      <h6 class="m-0 font-weight-bold ia-subtitle" style="font-size: 25px">
        Shuttle
      </h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="ShuttleCard">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>名稱</th>
              <th>狀態</th>
              <th>座標</th>
              <th>當前任務</th>
              <th>指令</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let _ of [].constructor(shuttle_count); let i = index"
              [ngClass]="get_state_class(shuttle_system_arr[i].state)"
            >
              <td>{{ shuttle_name_arr[i] }}</td>
              <td>{{ convert_eq_state(shuttle_system_arr[i].state) }}</td>
              <td>({{ shuttle_system_arr[i].coord }})</td>
              <td>{{ shuttle_system_arr[i].job_id }}</td>
              <td>
                <div class="form-row">
                  <div class="form-group col-md-7">
                    <select
                      class="form-control"
                      #shuttle_act_ddl
                      (change)="
                        showStatinoStatusDialog(
                          shuttle_act_ddl.value,
                          shuttle_name_arr[i]
                        )
                      "
                    >
                      <option
                        *ngFor="let opt of shuttle_state_list"
                        [value]="opt.key"
                      >
                        {{ opt.value }}
                      </option>
                    </select>
                  </div>

                  <div class="col-md-5">
                    <button
                      type="button"
                      class="btn btn-ia-blue"
                      (click)="
                        shuttle_action(
                          shuttle_act_ddl.value,
                          shuttle_name_arr[i]
                        )
                      "
                    >
                      執行
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4 mt-2">
    <!-- Card Header - Accordion -->
    <a
      class="d-block card-header py-3"
      data-toggle="collapse"
      role="button"
      aria-expanded="true"
      aria-controls="collapseCardExample"
    >
      <h6 class="m-0 font-weight-bold ia-subtitle" style="font-size: 25px">
        Lifter
      </h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="Lifter">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>名稱</th>
              <th>狀態</th>
              <th>指令</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let _ of [].constructor(lift_count); let i = index"
              [ngClass]="get_lifter_class(lift_system_arr[i])"
            >
              <td>{{ lift_name_arr[i] }}</td>
              <td>{{ get_lifter_state(lift_system_arr[i]) }}</td>
              <td>
                <div class="form-row">
                  <div class="form-group col-md-7">
                    <!-- <select
                    class="form-control"
                    #lift_act_ddl
                    (change)="ChangingValue($event)" [value]='46'
                    > -->
                    <select class="form-control" #lift_act_ddl>
                      <option
                        *ngFor="let opt of lift_state_list"
                        [value]="opt.key"
                      >
                        {{ opt.value }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-5">
                    <button
                      type="button"
                      class="btn btn-ia-blue"
                      (click)="
                        lift_action(lift_act_ddl.value, lift_name_arr[i])
                      "
                    >
                      執行
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/main.js"></script>
