.statetitle{
  padding-right: 10px;
}

.current_title{
  background-color: #134b9a;
}

.current_title a{
  color: #ffffff !important;
}

.not_current_title{
  background-color: #ffffff;
}

.not_current_title a{
  color:black !important;
}

.fixed{
  position: fixed;
  width:100%;
  transition:0.2s linear;
  top:0px;
}

.notfixed{
position: static;
transition: 0.2s linear;
top: -50px;
}
