.tablehead{
  background-color: rgb(49, 49, 49);
  color: beige;
}
.tableEqname{
  background-color: rgb(34, 58, 33);
  color: beige;
  font-weight: bold;
}
.tableStatusname{
  background-color: rgb(124, 214, 146);
  color: rgb(10, 10, 10);
}
table{
  outline: 1px dotted;
  width: 100%;
  table-layout: fixed;
}
