<div class="mt-4 mb-4">
  <div>
    <div class="table-responsive">
      <table
        class="table-border ia-storageTable"
        style="table-layout: fixed"
      >
        <thead>
          <tr>
            <th
              style="
                border-left: 2px solid transparent;
                border-top: 2px solid transparent;
                border-right: 2px solid transparent;
              "
            ></th>
            <th style="border-top: 2px solid transparent"></th>
            <th *ngFor="let _ of [].constructor(88); let i = index">{{i+1}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"></td>
            <td></td>
            <td class="ia-forbidden-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-outbound-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-outbound-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-inbound-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
          <tr>
            <td></td>
            <td><i class="icon-circle ia-shuttle-icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ia-storage-divider">
            <td></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-outbound-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-inbound-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
          <tr>
            <td rowspan="3" class="ia-storage-left-transparent"></td>
            <td></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-outbound-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ia-storage-divider">
            <td></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
          <tr>
            <td rowspan="3"></td>
            <td></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-solid-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ia-storage-divider">
            <td></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
          <tr>
            <td rowspan="3" class="ia-storage-left-transparent"></td>
            <td></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="ia-storage-divider">
            <td></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
          <tr>
            <td rowspan="3">
              <i class="icon-circle ia-shuttle-icon"></i>
            </td>
            <td></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
            <td class="ia-empty-storage"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
