<app-header></app-header>

<div class="form-row d-flex">
  <label class="col-md-1 pt-2 pr-2 text-right scale-down-align-to-left">工作編號</label>
  <div class="form-group col-md-2">
    <input
      type="text"
      placeholder="請輸入工作編號"
      #m_job_id
      [value]="search_job_id"
      (keyup)="search_job_id = m_job_id.value"
    />
  </div>
  <label class="col-md-1 pt-2 pr-2 text-right scale-down-align-to-left">箱號</label>
  <div class="form-group col-md-2">
    <input
      type="text"
      placeholder="請輸入箱號"
      #m_bin_id
      [value]="search_bin_id"
      (keyup)="search_bin_id = m_bin_id.value"
    />
  </div>
  <div class="col-md-3">
    <button class="btn btn-ia-blue" (click)="SearchByJobid(m_job_id.value, m_bin_id.value)">搜尋</button>
  </div>
  <div class="ml-auto">
    <pagination-controls (pageChange)="SearchByPageNo($event)"></pagination-controls>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="form-row">
    <div class="col-md-12 col-lg-12 pb-2 ia-rightcardheight ia-scrollerbar">
      <div class="card" style="overflow: auto; min-height: 100%">
        <div class="card-body">
          <div class="mt-4 mb-4">
            <div>
              <div class="table-responsive">
                <div class="">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>工作編號</th>
                        <th style="word-break: keep-all;">作業別</th>
                        <th>箱號</th>
                        <!-- <th>class_id</th> -->
                        <!-- <th>priority</th> -->
                        <th>起點</th>
                        <!-- <th>from_action</th> -->
                        <th>終點</th>
                        <!-- <th>to_action</th> -->
                        <th style="word-break: keep-all;">狀態</th>
                        <th style="word-break: keep-all;">使用者</th>
                        <th>訊息</th>
                        <th>更新時間</th>
                        <th>製單時間</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let item of data
                            | paginate
                              : {
                                  itemsPerPage: page_size,
                                  currentPage: page_no,
                                  totalItems: total_line_count
                                }
                        "
                      >
                        <td>{{ item.job_id }}</td>
                        <td>{{ item.job_type }}</td>
                        <td>{{ item.bin_id }}</td>
                        <!-- <td>{{ item.class_id }}</td> -->
                        <!-- <td>{{ item.priority }}</td> -->
                        <td>{{ item.from_coord }}</td>
                        <!-- <td>{{ item.from_action }}</td> -->
                        <td>{{ item.to_coord }}</td>
                        <!-- <td>{{ item.to_action }}</td> -->
                        <td>{{ item.state }}</td>
                        <td>{{ item.user_id }}</td>
                        <td>{{ item.message }}</td>
                        <td>{{ item.update_date }}</td>
                        <td>{{ item.create_date }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex  justify-content-around">
  <pagination-controls (pageChange)="SearchByPageNo($event)"></pagination-controls>
</div>
