<h2 mat-dialog-title>指定復歸點</h2>

<mat-dialog-content class="post-form">
  <label class="col-md-6 pt-2 pr-2" style="color: #1C5098; font-weight: bolder">{{
    Job_id
  }}</label>
  <div class="form-row d-flex mt-2">
    <label class="col-md-6 pt-2 pr-2">row:</label>
    <div class="form-group col-md-6">
      <select class="form-control" #row>
        <option *ngFor="let row_opt of row_dropdown_list;" [value]="row_opt">
          {{ row_opt }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-row d-flex">
    <label class="col-md-6 pt-2 pr-2">column:</label>
    <div class="form-group col-md-6">
      <select class="form-control" #column (change)="col_change($event.target.value)">
        <option *ngFor="let opt of column_dropdown_list;" [value]="opt">
          {{ opt }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-row d-flex">
    <label class="col-md-6 pt-2 pr-2">layer:</label>
    <div class="form-group col-md-6">
      <select class="form-control" #layer>
        <option *ngFor="let _ of [].constructor(21); let i = index" [value]="i">
          {{ i+1 }}
        </option>
      </select>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    type="button"
    class="btn btn-ia-blue"
    mat-button
    (click)="show_comfirm_dialog(row.value,layer.value,column.value)"
  >
    執行
  </button>
</mat-dialog-actions>
