<app-header  (EQ_data_evt)="handle_EQ_data($event)"></app-header>

<div class="container">
  <table class="table table-bordered nofoot">
    <thead>
      <tr class="tablehead">
        <th>Equipment</th>
        <th colspan="4">Status</th>
      </tr>
    </thead>
  </table>
  <app-shuttle-state
    *ngFor="let item of shuttles | keyvalue"
    [shuttlestate]="item"
  ></app-shuttle-state>
  <app-lift-state
    *ngFor="let item of lifts | keyvalue"
    [liftstate]="item"
  ></app-lift-state>
</div>
