<table class="table table-bordered">
  <tbody>
    <tr>
      <td rowspan="8" class="tableEqname">{{ shuttlestate.key }}</td>
      <td class="tableStatusname">is_disconnected</td>
      <td>
        {{ transferstatetobool(shuttlestate.value.is_disconnected) }}
        <!-- <span
          data-toggle="tooltip"
          data-placement="bottom"
          [ngClass]="getlightClass(shuttlestate.value.is_disconnected)"
          class="icon-circle"
        >
        </span> -->
      </td>
      <td class="tableStatusname">row</td>
      <td>{{ shuttlestate.value.row }}</td>
    </tr>
    <tr>
      <td class="tableStatusname">is_heartbroken</td>
      <td>
        {{ transferstatetobool(shuttlestate.value.is_heartbroken) }}
        <!-- <span
          data-toggle="tooltip"
          data-placement="bottom"
          [ngClass]="getlightClass(shuttlestate.value.is_heartbroken)"
          class="icon-circle"
        >
        </span> -->
      </td>
      <td class="tableStatusname">column</td>
      <td>{{ shuttlestate.value.column }}</td>
    </tr>
    <tr>
      <td class="tableStatusname">is_idle</td>
      <td>
        {{ transferstatetobool(shuttlestate.value.is_idle) }}
        <!-- <span
          data-toggle="tooltip"
          data-placement="bottom"
          [ngClass]="getlightClass(shuttlestate.value.is_idle)"
          class="icon-circle"
        >
        </span> -->
      </td>
      <td class="tableStatusname">layer</td>
      <td>{{ shuttlestate.value.layer }}</td>
    </tr>
    <tr>
      <td class="tableStatusname">is_auto</td>
      <td>
        {{ transferstatetobool(shuttlestate.value.is_auto) }}
        <!-- <span
          data-toggle="tooltip"
          data-placement="bottom"
          [ngClass]="getlightClass(shuttlestate.value.is_auto)"
          class="icon-circle"
        >
        </span> -->
      </td>
      <td class="tableStatusname">is_fully_charged</td>
      <td>
        {{ transferstatetobool(shuttlestate.value.is_fully_charged) }}
        <!-- <span
          data-toggle="tooltip"
          data-placement="bottom"
          [ngClass]="getlightClass(shuttlestate.value.is_charging)"
          class="icon-circle"
        >
        </span> -->
      </td>
    </tr>
    <tr>
      <td class="tableStatusname">is_error</td>
      <td>
        {{ transferstatetobool(shuttlestate.value.is_error) }}
        <!-- <span
          data-toggle="tooltip"
          data-placement="bottom"
          [ngClass]="getlightClass(shuttlestate.value.is_error)"
          class="icon-circle"
        >
        </span> -->
      </td>
      <td class="tableStatusname"></td>
      <td>
        <!-- {{ transferstatetobool(shuttlestate.value.is_fully_charged) }} -->
        <!-- <span
          data-toggle="tooltip"
          data-placement="bottom"
          [ngClass]="getlightClass(shuttlestate.value.is_fully_charged)"
          class="icon-circle"
        >
        </span> -->
      </td>
    </tr>
    <tr>
      <td class="tableStatusname">task_id</td>
      <td>{{ shuttlestate.value.task_id }}</td>
      <td class="tableStatusname"></td>
      <td></td>
    </tr>
    <tr>
      <td class="tableStatusname">task_name</td>
      <td>{{ shuttlestate.value.task_name }}</td>
      <td class="tableStatusname"></td>
      <td></td>
    </tr>
    <tr>
      <td class="tableStatusname">task_param</td>
      <td>{{ shuttlestate.value.task_param }}</td>
      <td class="tableStatusname"></td>
      <td></td>
    </tr>
  </tbody>
</table>
